html { 
    background: url(img/circuito-chico.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.remove {
  cursor: pointer;
}

  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap'); 

    body {
      font-family: 'Poppins', sans-serif;
    }*/
